{% extends "base.html" %}
{% block title %}Последние обновления {% endblock %}

{% block content %}
    <div class="container">
        <h1>Последние обновления </h1>

        {% include "menu.html" with index=True %}

        {% load cache %}
            {% cache 20 "index.html" %}
        {% for post in page %}
            {% include "post_item.html" with post=post %}
        {% endfor %}
            {% endcache %}
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

    </div>
{% endblock %}